# Question1 
Re-analyse the annual maximum gust wind speeds for (I) the years 1952 to 1998, (II) the years 1952 to 1997, i.e. ignore the high value recorded in 1998. Compare the resulting predictions of design wind speeds for (a) 50 years return period, and (b) 1000 years return period, and comment.
# Question2 
Using the parameter estimation approach in GB 50009 2012, predict the 10, 20, 50, 100, 200, 500, 1000 years return period design wind speeds for the above two cases, and compare the results with the Gumbel approach.
# Question2 
Using the parameter estimation approach in GB 50009 2012, predict the 10, 20, 50, 100, 200, 500, 1000 years return period design wind speeds for the above two cases, and compare the results with the Gumbel approach.

In [ ]:

# 导入必要的库，pandas用于数据处理
import pandas as pd
from io import StringIO # python3中StringIO的位置

# 加载数据
data = """
year,Wind speed m/s
1952,31.4
1953,33.4
1954,29.8
1955,30.3
1956,27.8
1957,30.3
1958,29.3
1959,36.5
1960,29.3
1961,27.3
1962,31.9
1963,28.8
1964,25.2
1965,27.3
1966,23.7
1967,27.8
1968,32.4
1969,27.8
1970,26.2
1971,30.9
1972,31.9
1973,27.3
1974,25.7
1975,32.9
1976,28.3
1977,27.3
1978,28.3
1979,28.3
1980,29.3
1981,27.8
1982,27.8
1983,30.9
1984,26.7
1985,30.3
1986,28.3
1987,30.3
1988,34
1989,28.8
1990,30.3
1991,27.3
1992,27.8
1993,28.8
1994,30.9
1995,26.2
1996,25.7
1997,24.7
1998,42.2
"""

# 将data数据转换为StringIO对象，再读取为DataFrame
df = pd.read_csv(StringIO(data)) 

# 显示全部数据
df

    year  Wind speed m/s
0   1952            31.4
1   1953            33.4
2   1954            29.8
3   1955            30.3
4   1956            27.8
5   1957            30.3
6   1958            29.3
7   1959            36.5
8   1960            29.3
9   1961            27.3
10  1962            31.9
11  1963            28.8
12  1964            25.2
13  1965            27.3
14  1966            23.7
15  1967            27.8
16  1968            32.4
17  1969            27.8
18  1970            26.2
19  1971            30.9
20  1972            31.9
21  1973            27.3
22  1974            25.7
23  1975            32.9
24  1976            28.3
25  1977            27.3
26  1978            28.3
27  1979            28.3
28  1980            29.3
29  1981            27.8
30  1982            27.8
31  1983            30.9
32  1984            26.7
33  1985            30.3
34  1986            28.3
35  1987            30.3
36  1988            34.0
37  1989            28.8
38  1990            30.3
39  1991            27.3
40  1992            27.8
41  1993            28.8
42  1994            30.9
43  1995            26.2
44  1996            25.7
45  1997            24.7
46  1998            42.2